#categories-container {
    font-size: 20px;
    gap: 19px;
    border-bottom: 3px rgb(57, 221, 166);

}

#btn-100 {
    border: 1px solid brown;
    background-color: chocolate;
    border-radius: 4px;
    color: aliceblue;
    font-weight: 700;
}

#btn-101 {
    border: 1px solid rgb(24, 15, 15);
    background-color: rgb(6, 125, 236);
    border-radius: 4px;
    color: aliceblue;
    font-weight: 700;
}

#images-100 {
    width: 75px;
    height: 59px;
}

@media screen and (max-width: 600px) {
    .navs {
        display: inline-block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

;

@media screen and (max-width: 768px) {
    .navs {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}